@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Mulish';
    src: url('../fonts/mulish.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat Alternative';
    src: url('../fonts/montserrat-alt.ttf') format('truetype');
  }
  html{
    scroll-behavior: smooth;
  }
}
@layer utilities {
  @responsive {
    .scrollbars-hidden-f {
      scrollbar-width: none;
    }
    .scrollbars-hidden::-webkit-scrollbar {
      display: none;
    }
    .clip-head {
      clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    }
  }
}
